.container {
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.content {
  flex: 1;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px 20px 40px 20px;
  min-height: 100vh;
  transform: translateY(-60px);
}

.card {
  background: rgba(255, 255, 255, 0.96);
  border-radius: 40px;
  padding: 0px 35px 40px 35px;
  max-width: 520px;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
  text-align: center;

}

.title {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: bold;
  color: #FF0000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
}

.form label {
  font-size: 16px;
  color: #111827;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input {
  padding: 8px 14px;
  border-radius: 24px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  width: 100%;
  margin-left: 5px;
}



.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

.loginbtn {
  width: 60%; 
  align-self: center;
  padding: 16px;
  border-radius: 40px;
  border: none;
  background: #07A31F;
  color: white;
  font-weight: medium;
  font-size: 16px;
  cursor: pointer;
}


.error {
  color: #b00020;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.footer-link {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.footer-link a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
footer {
  margin-top: auto;
  z-index: 2;
  position: relative;
}

/* landscape */
@media (min-width: 769px) and (max-width: 1024px){
  .card {
    max-width: 670px;
    height: 42vh;
    padding: 0px 40px 0 40px;
  }
  .form input {
    padding: 8px 14px;
    border-radius: 24px;
    font-size: 16px;
    width: 95%;
    height: 48px;
  }
  .loginbtn{
    width: 46%;
  }
  .eye-icon {
    right: 50px;
    font-size: 20px;
  }
}

/* potraits */
@media (max-width:768px) and (min-width: 481px){
  .card{
    max-width: 691px;
    height: 67vh;
    padding: 0 65px 0 65px;
  }
  .form input {
    padding: 8px 14px;
    font-size: 16px;
    width: 90%;
    height: 56px;
  }
  .eye-icon {
    right: 80px;
    font-size: 20px;
  }
  .form label {
    font-weight: 500;
  }
  .loginbtn {
    width: 44%;
  }
}

/* mobile */
@media (max-width: 480px) {
  .card {
    max-width: 100%;
    padding: 30px 30px 40px 30px;
  }

  .title {
    font-size: 28px;
  }

  .form label {
    font-size: 18px;
  }

  .form input {
    font-size: 18px;
    padding: 14px 18px;
    font-weight: 400;

  }

  .content {
    margin-top: 43px;
  }
  .footer-link a {
    font-size: 18px;
    font-weight: 400;
  }

}
